{% from 'semafor/_macros.html' import projects_forecast_table, table_head %}

<div id="inner-content">
  <h1>{{ _("Previsió") }}</h1>
  <div>
    <a href="{{ url("download_forecast_csv") }}" target="_blank" download="previsio.csv">
      {{ _("Descarrega les dades de previsió") }}
    </a>
  </div>
  <table class="table">
    <thead>
      {{ table_head(_("Projectes confirmats"), time_span) }}
    </thead>
    <tbody>
      {{ projects_forecast_table(projects, time_span, confirmed_worked_forecast, total_worked_forecast, total_dedication, worker=object, project_forecasts=project_forecasts, worker_dedications=worker_dedications) }}
    </tbody>
  </table>
</div>

