{% from 'semafor/_macros.html' import projects_table, table_head, toggle_rows_visibility_switches  %}

<div id="inner-content">
  <h1>{{ _("Previsió") }}</h1>
  <div>
    {{ toggle_rows_visibility_switches() }}
  </div>
  <table class="table">
    <thead>
      {{ table_head(_("Jornada"), time_span) }}
    </thead>
    <tbody>
      {{ table_head(_("Projectes confirmats"), time_span, el="td") }}
      {{ projects_table(projects, time_span, confirmed_worked, total_worked, total_dedication, worker=object, project_forecasts=project_forecasts, worker_dedications=worker_dedications) }}
    </tbody>
  </table>
</div>

