{% from 'semafor/_macros.html' import workers_assessment_table, table_head %}

{% macro balance_row(title, time_span, m) %}
  <tr>
    <td class="text-start">{{ title }}</td>
    {% for year, month in time_span %}
    <td class="text-end">{{ format_currency(m.get((year, month))) }}</td>
    {% endfor %}
  </tr>
{% endmacro %}

<div id="inner-content">
  <h1>{{ _("Avaluació del projecte «%(name)s»", name=object.name) }}</h1>
  <ul>
    <li>
      <strong>{{ _("Comença:") }}</strong>
      {% include "fragments/update_project_date_start_done.html" %}
    </li>
    <li><strong>{{ _("Acaba:") }}</strong> {{ localize(object.date_end) }}</li>
  </ul>
  <table class="table">
    <thead>
      {{ table_head(_("Treballadores"), time_span) }}
    </thead>
    <tbody>
      {{ workers_assessment_table(object, workers, time_span, total_worked) }}
      {{ table_head("", time_span) }}
      {{ balance_row(_("Ingressos"), time_span, income) }}
      {{ balance_row(_("Despeses de treball"), time_span, work_expenses) }}
      {{ balance_row(_("Altres despeses"), time_span, other_expenses) }}
      {{ balance_row(_("Balanç econòmic"), time_span, economic_balance) }}
    </tbody>
  </table>
</div>

<img src="data:image/png;base64,{{ balance_plot }}">

