{% from 'semafor/_macros.html' import workers_assessment_table, table_head, project_details %}

<div id="inner-content">
  <h1>{{ _("Avaluació del projecte «%(name)s»", name=object.name) }}</h1>
  <div>
    <a href="{{ url("admin:semafor_project_change", args=[object.uuid]) }}" class="me-3">
      {{ _("Edita els detalls del projecte") }}
    </a>
  </div>
  {{ project_details(object) }}
  <table class="table">
    <thead>
      {{ table_head(_("Treballadores"), time_span) }}
    </thead>
    <tbody>
      {{ workers_assessment_table(object, workers, time_span, total_worked) }}
    </tbody>
  </table>
</div>


