{% from 'semafor/_macros.html' import workers_forecast_table, table_head, project_details %}

<div id="inner-content">
  <h1>{{ _("Previsió del projecte «%(name)s»", name=object.name) }}</h1>
  <div>
    <a href="{{ url("admin:semafor_project_change", args=[object.uuid]) }}" class="me-3">
      {{ _("Edita els detalls del projecte") }}
    </a>
    <a href="{{ url("download_project_forecast_csv", args=[object.uuid]) }}" target="_blank" download="previsio.csv">
      {{ _("Descarrega les dades de previsió") }}
    </a>
  </div>
  {{ project_details(object) }}
  <table class="table">
    <thead>
      {{ table_head(_("Treballadores"), time_span) }}
    </thead>
    <tbody>
      {{ workers_forecast_table(object, workers, time_span, total_worked_forecast, worker_dedications, total_dedication) }}
    </tbody>
  </table>
</div>

