{% set href = url("update_worker_assessment", args=[object.uuid]) %}
{% if ok %}
<p>{{ _("S'han actualitzat les dades de temps treballats") }}</p>
<p>
  <a href="#" hx-get="{{ href }}" hx-target="closest div">
    {{ _("Actualitza les dades de nou") }}
  </a>
</p>
{% else %}
  {% if error %}
  <p>{{ _("No s'han pogut actualitzar les dades. Per favor, envia un arxiu correcte") }}</p>
  {% endif %}
  {% if errors %}
    <p>{{ _("Hi ha hagut errors actualitzant les dades:") }}</p>
    <ul>
    {% for err in errors %}
      <li>{{ err }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if missing_projects %}
  <p>
    {{ _("Els següents projectes no es corresponen a projectes existents a l'aplicació:") }}
  </p>
  <ul>
    {% for p in missing_projects %}
    <li>{{ p }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form
    hx-encoding="multipart/form-data"
    hx-post="{{ href }}"
    hx-target="closest div"
  >
    {{ csrf_input }}
    <input type="file" name="checks_file" class="form-control">
    <button type="submit" class="btn btn-dark float-end mt-3">{{ _("Envia") }}</button>
  </form>
{% endif %}
