{% set href = url("update_transaction_projects", args=[transaction.id]) %}
{% if projects %}
<td>
  <select
    name="project"
    class="form-select"
    hx-post="{{ href }}"
    hx-include="[name='csrfmiddlewaretoken']"
    hx-target="closest td"
  >
    <option value="">{{ _("Selecciona un projecte") }}</option>
    {% for project in projects %}
    <option value="{{ project.uuid }}">{{ project.name }}</option>
    {% endfor %}
  </select>
</td>
{% else %}
  {% if len(transaction.projects.all()) > 0 %}
  <td
    hx-delete="{{ href }}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-swap="outerHTML"
    class="clickable"
  >
    {% for project in transaction.projects.all() %}
    {{ project }}
    TODO put inside badge with "x" icon that does hx-delete to same href
    {% endfor %}
  </td>
  {% else %}
  <td
    hx-get="{{ href }}"
    hx-swap="outerHTML"
    class="clickable"
  ></td>
  {% endif %}
{% endif %}
