{# TODO should not be 100, should be the work of that worker that month #}
<td
  class="text-center clickable {{ dedication_intensity(object.assignment, 100) }}"
>
  <input
    type="number"
    name="assignment"
    min="0"
    max="100"
    value="{{ object.assignment }}"
    class="form-control form-control-sm w-5rem"
    hx-post="{{ url("update_project_assignment", args=[object.id]) }}"
    hx-include="[name='csrfmiddlewaretoken']"
    hx-trigger="keyup[key=='Enter'], blur"
    hx-swap="outerHTML"
    hx-target="closest td"
  >
</td>

