{% set href = url("update_transaction_workers", args=[transaction.id]) %}
{% if workers %}
<td>
  <select
    name="worker"
    class="form-select"
    hx-post="{{ href }}"
    hx-include="[name='csrfmiddlewaretoken']"
    hx-target="closest td"
  >
    <option value="">{{ _("Selecciona una treballadora") }}</option>
    {% for worker in workers %}
    <option value="{{ worker.uuid }}">{{ worker.name }}</option>
    {% endfor %}
  </select>
</td>
{% else %}
  {% if len(transaction.workers.all()) > 0 %}
  <td>
    {% for worker in transaction.workers.all() %}
    <span class="badge text-bg-secondary">
      {{ worker }}
      <i
        class="bi-x-lg clickable"
        hx-delete="{{ href }}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="closest td"
        hx-swap="outerHTML"
      ></i>
    </span>
    {% endfor %}
  </td>
  {% else %}
  <td
    hx-get="{{ href }}"
    hx-swap="outerHTML"
    class="clickable"
  ></td>
  {% endif %}
{% endif %}

