{% set href = url("update_transaction_projects", args=[transaction.id]) %}
{% if projects %}
<td>
  <select
    name="project"
    class="form-select"
    hx-post="{{ href }}"
    hx-target="closest td"
  >
    <option value="">{{ _("Selecciona un projecte") }}</option>
    {% for project in projects %}
    <option value="{{ project.uuid }}">{{ project.name }}</option>
    {% endfor %}
  </select>
</td>
{% else %}
  {% if len(transaction.projects.all()) > 0 %}
  <td>
    {% for project in transaction.projects.all() %}
    <span class="badge text-bg-secondary">
      {{ project }}
      <i
        class="bi-x-lg clickable"
        hx-delete="{{ href }}"
        hx-target="closest td"
        hx-swap="outerHTML"
      ></i>
    </span>
    {% endfor %}
  </td>
  {% else %}
  <td
    hx-get="{{ href }}"
    hx-swap="outerHTML"
    class="clickable"
  ></td>
  {% endif %}
{% endif %}
