{% from 'semafor/_macros.html' import projects_assessment_table, table_head, modal_start, modal_end, missing_aliases_table  %}

<div id="inner-content">
  <h1>{{ _("Avaluació de la treballadora «%(name)s»", name=object.name) }}</h1>
  {% if missing_projects %}
  <div class="alert alert-warning">
    <p>
      {{ _("Els següents projectes de l'aplicació mòbil no es corresponen a projectes existents a la web:") }}
    </p>
    {{ missing_aliases_table(missing_projects, object, projects) }}
  </div>
  {% endif %}
  <div>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#aliasModal"
      class="me-3"
      hx-get="{{ url("get_project_aliases", args=[object.uuid]) }}"
      hx-target="#aliasModal .modal-body"
    >
      {{ _("Veure alies dels projectes") }}
    </a>
    <a href="{{ url("api_update_worker_assessment", args=[object.app_token]) }}">
      {{ _("Copia aquest enllaç per configurar-lo a la APP de Control Horari") }}
    </a>
  </div>
  <table class="table">
    <thead>
      {{ table_head(_("Projectes"), time_span) }}
    </thead>
    <tbody>
      {{ projects_assessment_table(projects, time_span, total_worked_assessment, worker=object, project_assessments=project_assessments) }}
    </tbody>
  </table>

  {{ modal_start("aliasModal", _("Alies dels projectes")) }}
  {{ modal_end() }}
</div>

