body, wrapper {
  min-height: 100vh;
}

body.tight table.table {
  font-size: 12px;
}

body.tight .table > :not(caption) > * > * {
  padding: 0.1rem;
}

h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

#content {
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid white;
}

.navbar-nav.navbar-light .nav-link.active {
  border-bottom: 2px solid black;
}

.staging-bow {
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  transform: rotate(-45deg);
  top: 50px;
  left: -100px;
  z-index: 1000;
  width: 300px;
}

table.table {
    white-space: nowrap;
    margin: 0;
    table-layout: fixed;
}

table.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background: white;
    border-right: 1px solid black;
}

table.table td {
    background: #fff;
    text-align: center;
}

table.table.text-start td {
    background: #fff;
    text-align: start;
}

table.table tbody th {
    position: relative;
    border-right: 1px solid black;
}

table.table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

table.table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}

.table td:has(input) {
  padding: .25rem;
}

table.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table.table th a {
  color: black;
  text-decoration: none;
}

table.table th a:hover {
  text-decoration: underline;
}

/* TODO not working, but htmx documentation says it should... https://htmx.org/examples/animations/ */
/* .smooth { transition: all 500ms ease-in; } */

.h-2rem {
  height: 2rem;
}

.w-5rem {
  width: 5rem;
}

.border-top-black {
  border-top: 1px solid black !important;
}

.border-right {
  border-right: 1px solid black;
}

.project-starts {
  border-left: 4px solid grey;
}

.project-ends {
  border-right: 4px solid grey;
}

.clickable {
  cursor: pointer;
}

.dedication-green {
  background-color: forestgreen !important;
  color: forestgreen !important;
}

.dedication-blue {
  background-color: cornflowerblue !important;
  color: cornflowerblue !important;
}

.dedication-yellow {
  background-color: gold !important;
  color: gold !important;
}

.dedication-orange {
  background-color: orange !important;
  color: orange !important;
}

.dedication-red {
  background-color: tomato !important;
  color: tomato !important;
}

.dedication-black {
  background-color: black !important;
  color: black !important;
}

.show-numbers .dedication-green {
  color: darkgreen !important;
}

.show-numbers .dedication-blue {
  color: midnightblue !important;
}

.show-numbers .dedication-yellow {
  color: darkorange !important;
}

.show-numbers .dedication-orange {
  color: indianred !important;
}

.show-numbers .dedication-red {
  color: darkred !important;
}

.show-numbers .dedication-black {
  color: grey !important;
}

.dedication-error {
  background: repeating-linear-gradient(45deg, white, white 5px, black 5px, black 10px) !important;
  color: transparent !important;
}

.dedication-green:hover {
  color: white !important;
}

.dedication-blue:hover {
  color: white !important;
}

.dedication-yellow:hover {
  color: black !important;
}

.dedication-orange:hover {
  color: black !important;
}

.dedication-red:hover {
  color: white !important;
}

.dedication-black:hover {
  color: white !important;
}

.columns-3 {
  columns: 3;
}

.white {
  color: white !important;
}

.controls {
  display: none;
}

.show-controls .controls {
  display: initial;
}

.hide-empty .empty {
  display: none;
}

.hide-full .full {
  display: none;
}
