{% macro nav_link(request, title, link) %}
<li class="nav-item">
  <a class="nav-link white {% if link_active(request, link) %}active{% endif %}" aria-current="page" href="{{ link }}">
    {{ title }}
  </a>
</li>
{% endmacro %}

{% macro workers_menu(request, workers, url_name) %}
<div class="navbar navbar-expand-md bd-navbar">
  <nav class="container-fluid d-flex justify-content-start" aria-label="Navegació secundària">
    <ul class="navbar-nav mb-2 mb-lg-0 navbar-light">
      {% for w in workers %}
      <li class="nav-item">
        {% set link = url(url_name, args=[w.uuid]) %}
        <a class="nav-link {% if link_active(request, link, exact=True) %}active{% endif %}" aria-current="page" href="{{ link }}">
          {{ w.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endmacro %}

{% macro project_classes(project, year, month) %}{% if project.starts(year, month) %} project-starts{% endif %}{% if project.ends(year, month) %} project-ends{% endif %}{% endmacro %}

{% macro table_head(title, time_span, el="th") %}
<tr>
  <td>{{ title }}</td>
  {% for ym in time_span %}
  <{{ el }} class="text-center">{{ format_month(ym) }}</{{ el }}>
  {% endfor %}
</tr>
{% endmacro %}

{% macro projects_forecast_table(projects, time_span, confirmed_worked, total_worked, total_dedication, worker=None, project_forecasts=None, worker_dedications=None) %}
{% for project in projects.filter(confirmed=True) %}
 {{ project_forecast_row(project, time_span, total_dedication, worker=worker, project_forecasts=project_forecasts, worker_dedications=worker_dedications) }}
{% endfor %}

<tr class="border-top-black">
  <th class="fw-bold">{{ _("Total confirmat") }}</th>
  {% for year, month in time_span %}
    {% with total_worked=confirmed_worked[(year, month)], total_dedication=total_dedication[(year, month)] %}{% include 'fragments/forecast_total.html' %}{% endwith %}
  {% endfor %}
</tr>

{% if len(projects.filter(confirmed=False)) > 0 %}
{{ table_head(_("Projectes no confirmats"), time_span, el="td") }}

{% for project in projects.filter(confirmed=False) %}
 {{ project_forecast_row(project, time_span, total_dedication, worker=worker, project_forecasts=project_forecasts, worker_dedications=worker_dedications, confirmed=False) }}
{% endfor %}

<tr class="border-top-black">
  <th class="fw-bold">{{ _("Total") }}</th>
  {% for year, month in time_span %}
    {% with total_worked=total_worked[(year, month)], total_dedication=total_dedication[(year, month)] %}{% include 'fragments/forecast_total.html' %}{% endwith %}
  {% endfor %}
</tr>
{% endif %}
{% endmacro %}

{% macro project_forecast_row(project, time_span, total_dedication, worker=None, project_forecasts=None, worker_dedications=None, confirmed=True) %}
<tr class="{{ project.forecast_content_classes(worker) }}">
  <th class="text-nowrap">
    {% if confirmed %}
    <i
      class="bi-chevron-double-down text-danger clickable controls"
      hx-post="{{ url("update_project_confirmed", args=[project.uuid]) }}"
      hx-vals='{"confirmed": false}'
      hx-include="[name='csrfmiddlewaretoken']"
    ></i>
    {% else %}
    <i
      class="bi-chevron-double-up text-success clickable controls"
      hx-post="{{ url("update_project_confirmed", args=[project.uuid]) }}"
      hx-vals='{"confirmed": true}'
      hx-include="[name='csrfmiddlewaretoken']"
    ></i>
    {% endif %}
    <a href="{{ url("project_forecast", args=[project.uuid]) }}">{{ project }}</a>
  </th>
  {% set totals, explanations = project.work_forecasts(worker=worker) %}
  {% for year, month in time_span %}
    {% if worker %}
      {% set pa = project_forecasts[project.uuid][(year, month)] %}
      {% if pa %}
      {% with object = pa, total_dedication = worker_dedications.get(worker.uuid, {}).get((year, month), {}).dedication %}{% include 'fragments/worker_month_forecast.html' %}{% endwith %}
      {% else %}
        <td
          id="project-{{ project.uuid }}-worker-{{ worker.uuid }}-{{ year }}-{{ month }}"
          class="text-center {% if project.active(year, month) %}clickable{% endif %} {{ project_classes(project, year, month) }}"
          {% if project.active(year, month) %}
          hx-post="{{ url("create_work_forecast") }}"
          hx-vals='{"year": {{ year }}, "month": {{ month }}, "worker": "{{ worker.uuid }}", "project": "{{ project.uuid }}"}'
          hx-include="[name='csrfmiddlewaretoken']"
          hx-swap="outerHTML"
          {% endif %}
          ></td>
      {% endif %}
    {% else %}
      {% with total_worked=totals[(year, month)], total_dedication=total_dedication[(year, month)], explanation=explanations[(year, month)] %}{% include 'fragments/project_month_forecast.html' %}{% endwith %}
    {% endif %}
  {% endfor %}
</tr>
{% endmacro %}

{% macro workers_forecast_table(project, workers, time_span, total_worked, worker_dedications, total_dedication) %}
  {% for worker in workers %}
  <tr class="{{ worker.forecast_content_classes(project) }}">
    <th>
      <a href="{{ url("worker_forecast", args=[worker.uuid]) }}">{{ worker }}</a>
    </th>
    {{ worker_forecast_row(project, worker, time_span, worker_dedications) }}
  </tr>
  {% endfor %}

  <tr class="border-top-black">
    <th class="fw-bold">{{ _("Total") }}</th>
    {% for year, month in time_span %}
      {% with total_worked=total_worked[(year, month)], total_dedication=total_dedication[(year, month)] %}{% include 'fragments/forecast_total.html' %}{% endwith %}
    {% endfor %}
  </tr>
{% endmacro %}

{% macro worker_forecast_row(project, worker, time_span, worker_dedications) %}
  {% set totals, explanations = project.work_forecasts(worker=worker) %}
  {% for year, month in time_span %}
    {% with total_worked=totals[(year, month)], total_dedication=worker_dedications.get(worker.uuid, {}).get((year, month), {}).dedication, explanation=explanations[(year, month)] %}{% include 'fragments/project_month_forecast.html' %}{% endwith %}
  {% endfor %}
{% endmacro %}

{% macro workers_assessment_table(project, workers, time_span, total_worked) %}
  {% for worker in workers %}
  <tr class="{{ worker.assessment_content_classes(project) }}">
    <th>
      <a href="{{ url("worker_assessment", args=[worker.uuid]) }}">{{ worker }}</a>
    </th>
    {{ worker_assessment_row(project, worker, time_span, total_worked) }}
  </tr>
  {% endfor %}

  <tr class="border-top-black">
    <th class="fw-bold">{{ _("Total") }}</th>
    {% for year, month in time_span %}
      {% with total_worked=total_worked[(year, month)] %}
        {% include 'fragments/assessment_total.html' %}
      {% endwith %}
    {% endfor %}
  </tr>
{% endmacro %}

{% macro worker_assessment_row(project, worker, time_span, total_worked) %}
  {% set totals, explanations = project.work_assessments(worker=worker) %}
  {% for year, month in time_span %}
    {% with worked=totals[(year, month)], total_worked=total_worked[(year, month)], explanation=explanations[(year, month)] %}
      {% include 'fragments/project_month_assessment.html' %}
    {% endwith %}
  {% endfor %}
{% endmacro %}

{% macro projects_assessment_table(projects, time_span, total_worked, worker=None, project_assessments=None) %}
  {% for project in projects %}
    {{ project_assessment_row(project, time_span, total_worked, worker=worker, project_assessments=project_assessments) }}
  {% endfor %}

  <tr class="border-top-black">
    <th class="fw-bold">{{ _("Total") }}</th>
    {% for year, month in time_span %}
      {% set worked = total_worked[(year, month)] %}
      <td class="text-center {{ dedication_intensity(worked, worked) }}">{{ format_duration(worked) }}</td>
    {% endfor %}
  </tr>
{% endmacro %}

{% macro project_assessment_row(project, time_span, total_worked, worker=None, project_assessments=None) %}
<tr class="{{ project.assessment_content_classes(worker) }}">
  <th class="text-nowrap">
    <a href="{{ url("project_assessment", args=[project.uuid]) }}">{{ project }}</a>
  </th>
  {% set totals, explanations = project.work_assessments(worker=worker) %}
  {% for year, month in time_span %}
    {% if worker %}
      {% set pa = project_assessments.get(project.uuid, {}).get((year, month)) %}
      {% if pa %}
        {% with object = pa, total_worked=total_worked[(year, month)] %}{% include 'fragments/worker_month_assessment.html' %}{% endwith %}
      {% else %}
        <td class="text-center {{ project_classes(project, year, month) }}"></td>
      {% endif %}
    {% else %}
      {% with worked=totals[(year, month)], total_worked=total_worked[(year, month)], explanation=explanations[(year, month)] %}
        {% include 'fragments/project_month_assessment.html' %}
      {% endwith %}
    {% endif %}
  {% endfor %}
</tr>
{% endmacro %}

{% macro breadcrumb(links) %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for link in links %}
    <li class="breadcrumb-item {% if loop.last %}active{% endif %}" {% if loop.last %}aria-current="page"{% endif %}>
      {% if link.href %}
      <a href="{{ link.href }}">{{ link.name }}</a>
      {% else %}
      {{ link.name }}
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endmacro %}

{% macro shortcuts_menu() %}
<li class="nav-item">
  <a type="button" data-bs-toggle="modal" data-bs-target="#shortcutsModal">
    <i class="bi-gear-fill white"></i>
  </a>
</li>
{% endmacro %}

{% macro shortcuts_modal() %}
  {{ modal_start("shortcutsModal", _("Dreceres de teclat")) }}
  <dl>
    <dt><code>?</code></dt>
    <dd>{{ _("Obre la finestra de dreceres de teclat") }}</dd>
    <dt><code>c</code></dt>
    <dd>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="showControlsSwitch" onchange="toggleControls(event.target.checked)">
        <label class="form-check-label" for="showControlsSwitch">
          {{ _("Mostra i amaga els controls addicionals") }}
        </label>
      </div>
    </dd>
    <dt><code>n</code></dt>
    <dd>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="showNumbersSwitch" onchange="toggleNumbers(event.target.checked)">
        <label class="form-check-label" for="showNumbersSwitch">
          {{ _("Mostra i amaga els números de la taula") }}
        </label>
      </div>
    </dd>
    <dt><code>b</code></dt>
    <dd>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="hideEmptySwitch" onchange="toggleEmpty(!event.target.checked)">
        <label class="form-check-label" for="hideEmptySwitch">
          {{ _("Amaga files buides (sense cap valor)") }}
        </label>
      </div>
    </dd>
    <dt><code>p</code></dt>
    <dd>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="hideFullSwitch" onchange="toggleFull(!event.target.checked)">
        <label class="form-check-label" for="hideFullSwitch">
          {{ _("Amaga files plenes (amb algun valor)") }}
        </label>
      </div>
    </dd>
    <dt><code>m</code></dt>
    <dd>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="smallFontSwitch" onchange="toggleSmallFont(event.target.checked)">
        <label class="form-check-label" for="smallFontSwitch">
          {{ _("Fes menuda la lletra") }}
        </label>
      </div>
    </dd>
  </dl>
  {{ modal_end() }}
{% endmacro %}

{% macro modal_start(id, title) %}
<div class="modal fade" id="{{ id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _("Tanca") }}"></button>
      </div>
      <div class="modal-body">
{% endmacro %}

{% macro modal_end() %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro shortcuts_js() %}
const shortcutsModal = new bootstrap.Modal("#shortcutsModal")
const showControlsSwitch = document.getElementById("showControlsSwitch")
const showNumbersSwitch = document.getElementById("showNumbersSwitch")
const hideEmptySwitch = document.getElementById("hideEmptySwitch")
const hideFullSwitch = document.getElementById("hideFullSwitch")

var ctrlDown = false;
const ctrlKey = 17,
      key1 = 49,
      key2 = 50,
      key3 = 51,
      keyb = 66,
      keyc = 67,
      keyp = 80,
      keym = 77,
      keyn = 78,
      questionKey = 222;

document.addEventListener("keydown", (e) => {
  if (e.keyCode == ctrlKey) ctrDown = true;
})

function handleKey(e, keyCode, switchElement, handler) {
  if (e.keyCode == keyCode) {
    switchElement.checked = !switchElement.checked;
    handler(switchElement.checked);
  }
}

document.addEventListener("keyup", (e) => {
  if (e.keyCode == ctrlKey)     ctrDown = false;
  if (e.keyCode == questionKey) shortcutsModal.show();

  handleKey(e, keyc, showControlsSwitch, toggleControls);
  handleKey(e, keyn, showNumbersSwitch, toggleNumbers);
  handleKey(e, keyb, hideEmptySwitch, toggleEmpty);
  handleKey(e, keyp, hideFullSwitch, toggleFull);
  handleKey(e, keym, smallFontSwitch, toggleSmallFont);
})
{% endmacro %}

{% macro project_details(project) %}
  <ul class="columns-3">
    <li><strong>{{ _("Comença:") }}</strong> {{ localize(project.date_start) }}</li>
    <li><strong>{{ _("Acaba:") }}</strong> {{ localize(project.date_end) }}</li>
    <li><strong>{{ _("Confirmat:") }}</strong> {{ yes_no(project.confirmed) }}</li>
    <li><strong>{{ _("Arxivat:") }}</strong> {{ yes_no(project.archived) }}</li>
    <li><strong>{{ _("Ingressos previstos:") }}</strong> {{ format_currency(project.income) }}€</li>
    <li><strong>{{ _("Treball previst:") }}</strong> {{ format_currency(project.compute_forecasted_work_cost()) }}€</li>
    <li><strong>{{ _("Ingressos obtinguts:") }}</strong> TODO</li>
    <li><strong>{{ _("Treball fet:") }}</strong> {{ format_currency(project.compute_assessed_work_cost()) }}€</li>
  </ul>
{% endmacro %}
