{% from 'semafor/_macros.html' import nav_link %}
<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ _("Una ferramenta per a la planificació i l'avaluació de projectes") }}">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="{{ static("favicon.ico") }}">

    <link href="{{ static("style.css") }}" rel="stylesheet">
    <title>Semàfor</title>
  </head>
  <body id="body"
  {# TODO does not work well with websockets, as explained here https://www.reddit.com/r/htmx/comments/1ckskb0/issue_with_hxboosttrue_and_websockets_extension/
  Put again if problem gets fixed in ws.js
  {% if not settings.DEBUG %}hx-boost="true"{% endif %} #}
  >
    {% if settings.STAGING_ENVIRONMENT_NAME %}
    <div class="staging-bow">
      {{ settings.STAGING_ENVIRONMENT_NAME }}
    </div>
    {% endif %}
    <div class="skippy visually-hidden-focusable overflow-hidden">
      <div class="container-fluid">
        <a class="d-inline-flex p-2 m-1" href="#content">Salta al contingut principal</a>
      </div>
    </div>
    <header>
      <div class="navbar navbar-expand-md bd-navbar border-bottom bg-dark" data-bs-theme="dark">
        <nav class="container-fluid flex-wrap flex-md-nowrap" aria-label="Navegació principal">
          <a class="navbar-brand" href="/">
            <img src="{{ static("semafor.png") }}" class="h-2rem">
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ nav_link(request, _("Previsió"), url("forecast")) }}
            {{ nav_link(request, _("Avaluació"), url("assessment")) }}
            {{ nav_link(request, _("Liquiditat"), url("liquidity")) }}
          </ul>

          <ul class="navbar-nav mb-2 me-3 mb-lg-0">
{% block shortcuts_menu %}{% endblock %}
          </ul>
        </nav>
      </div>
      {% block submenu %}{% endblock %}
    </header>
    <wrapper class="d-flex flex-column">
      <main id="content">
        <div class="container-fluid py-4">
{% block breadcrumb %}{% endblock %}
{% block content %}{% endblock %}
        </div>
      </main>
      <footer class="bg-light border-top">
        <div class="py-3 my-4 container-fluid">
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
              <p>{{ _("Web creada amb <a target='_blank' rel='noopener noreferrer' href='https://github.com/transversalcoop/semafor'>programari lliure</a>") }}</p>
            </div>
            <div class="col-lg-4">
              <p class="m-0">{{ _("Un projecte desenvolupat per") }}</p>
              <a target="_blank" rel="noopener noreferrer" href="https://transversalcoop.org">
                <img src="{{ static("transversal.png") }}" alt="{{ _("Logo de la Cooperativa Transversal") }}" loading="lazy">
              </a>
            </div>
          </div>
        </div>
      </footer>
    </wrapper>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script>
htmx.on("htmx:afterSwap", function(e) {
  let input = e.target.querySelector("input");
  if (input) {
    input.focus();
    input.select();
  }
})

function hideClass(klass) {
  document.querySelectorAll("." + klass).forEach(el => el.classList.add("d-none"));
}
function showClass(klass) {
  document.querySelectorAll("." + klass).forEach(el => el.classList.remove("d-none"));
}
function toggleEmpty(show) { if (show) { showClass("empty") } else { hideClass("empty") } }
function toggleFull(show) { if (show) { showClass("full") } else { hideClass("full") } }
function showNumbers(show) {
  if (show) {
    document.getElementById("content").classList.add("show-numbers");
  } else {
    document.getElementById("content").classList.remove("show-numbers");
  }
}
function toggleSmallFont(small) {
  if (small) {
    document.getElementById("body").classList.add("tight");
  } else {
    document.getElementById("body").classList.remove("tight");
  }
}
{% block js %}{% endblock %}
    </script>
  </body>
</html>
