{% extends "semafor/base.html" %}

{% from 'semafor/_macros.html' import liquidity_menu, shortcuts_menu, shortcuts_modal, shortcuts_js %}

{% block submenu %}{{ liquidity_menu(request) }}{% endblock %}
{% block shortcuts_menu %}{{ shortcuts_menu() }}{% endblock %}

{% block content %}
<div id="inner-content">
  {{ csrf_input }}
  <h1>{{ _("Liquiditat prevista") }}</h1>
  <table class="table text-start">
    <thead>
      <tr>
        <th>{{ _("Data") }}</th>
        <th>{{ _("Concepte") }}</th>
        <th>{{ _("Import") }}</th>
        <th>{{ _("Balanç") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for t in object_list %}
      <tr>
        <td>{{ format_month((t.year, t.month)) }}</td>
        <td>{{ t.concept }}</td>
        <td class="text-end">{{ format_currency(t.amount) }}</td>
        <td class="text-end">{{ format_currency(t.balance) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ shortcuts_modal() }}
{% endblock %}

{% block js %}
{{ shortcuts_js() }}
{% endblock %}


