{% extends "semafor/base.html" %}

{% from 'semafor/_macros.html' import shortcuts_menu, shortcuts_modal, shortcuts_js %}
{% from 'semafor/_macros.html' import table_head, modal_start, modal_end %}

{% block shortcuts_menu %}{{ shortcuts_menu() }}{% endblock %}

{% block content %}

<div id="inner-content">
  <h1>{{ _("Liquiditat") }}</h1>
  <div>
    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadFileModal">
      {{ _("Actualitza les dades de liquiditat") }}
    </a>
  </div>
  <table class="table text-start">
    <thead>
      <tr>
        <th>{{ _("Apunt") }}</th>
        <th>{{ _("Data") }}</th>
        <th>{{ _("Concepte") }}</th>
        <th>{{ _("Import") }}</th>
        <th>{{ _("Saldo") }}</th>
        <th>{{ _("Etiquetes") }}</th>
        <th>{{ _("Projectes") }}</th>
        <th>{{ _("Treballadores") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for t in object_list %}
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.date }}</td>
        <td>{{ t.concept }}</td>
        <td class="text-end">{{ format_currency(t.amount) }}€</td>
        <td class="text-end">{{ format_currency(t.balance) }}€</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ modal_start("uploadFileModal", _("Actualitza les dades de liquiditat")) }}
  {% include "fragments/upload_liquidity.html" %}
  {{ modal_end() }}
</div>

{{ shortcuts_modal() }}
{% endblock %}

{% block js %}
{{ shortcuts_js() }}
{% endblock %}

