{% extends "semafor/base.html" %}

{% from 'semafor/_macros.html' import workers_menu, breadcrumb, shortcuts_menu, shortcuts_modal, shortcuts_js %}

{% block submenu %}{{ workers_menu(request, workers, "worker_assessment") }}{% endblock %}
{% block shortcuts_menu %}{{ shortcuts_menu() }}{% endblock %}

{% block breadcrumb %}
{{ breadcrumb([{"name": _("Avaluació"), "href": url("assessment")}, {"name": _("Projectes")}, {"name": object.name}]) }}
{% endblock %}

{% block content %}
{{ csrf_input }}
{% include 'fragments/project_assessment.html' %}
{{ shortcuts_modal() }}
{% endblock %}

{% block js %}
{{ shortcuts_js() }}
{% endblock %}


