{% extends "semafor/base.html" %}

{% from 'semafor/_macros.html' import workers_menu, shortcuts_menu, shortcuts_modal, shortcuts_js %}

{% block submenu %}{{ workers_menu(request, workers, "worker_assessment") }}{% endblock %}
{% block shortcuts_menu %}{{ shortcuts_menu() }}{% endblock %}

{% block content %}
<form hx-encoding="multipart/form-data" hx-post="{{ url("update_worker_assessment", args=[object.uuid]) }}">
  {{ csrf_input }}
  <input type="file" name="checks_file">
  <input type="submit" value="Envia">
</form>
{{ shortcuts_modal() }}
{% endblock %}

{% block js %}
{{ shortcuts_js() }}
{% endblock %}

